.basicLightbox {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $basicLightbox__background;
	opacity: .01;
	transition: opacity .4s ease;
	z-index: 1000;
	will-change: opacity;

	&__placeholder {
		max-width: 400px;
		width: 50%;
		min-width: 200px;
		height: 75%;
		border-radius: 10pt;
		overflow: auto;
		padding: 20pt;
		background-color: white;
		color: black;
		align-content: center;
	}

	&--visible {
		opacity: 1;
	}
}

.cardDetail {
	display: grid;
	justify-content: center;

	&__headline {
		grid-column: 1 / span 3;
		grid-row: 1;
		font-size: larger;
		font-weight: bold;
	}

	&__image {
		justify-content: center;
		grid-column: 2;
		grid-row: 2;
		border-radius: 5px;
	}

	&__basics {
		grid-row: 3;
		font-size: medium;
	}

	&__attacks {
		grid-row: 4;
		grid-column: 1/ 4;
		word-break: break-all;
		white-space: normal;
		font-size: medium;
	}

	&__weakness {
		grid-row: 5;
		font-size: medium;
	}

	&__retreat {
		grid-row: 6;
		font-size: medium;
	}
}