.notFoundPage {
	background-image: url('../images/pokemon_background.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: calc(100vh - 60px);

	&__textWrapper {
		z-index: 1;
		display: flex;
		flex-direction: column;
		padding: $gutter;
		margin-left: $gutter * 4;
		width: 500px;
	}

	&__statusCode {
		font-size: 8em;
		font-weight: 700;
	}

	&__errorText {
		font-size: 2em;
		margin-bottom: $gutter;
	}
}