.topnav {
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	display: flex;
	font-size: 1.25em;
	font-weight: 300;
	height: 60px;
	align-items: center;
	padding-left: $gutter;

	&__item {
		color: white;
		text-decoration: none;
		padding: $gutter/2 $gutter;
		background-color: #333;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: white;
			height: 1px;
			width: 100%;
			transform: scale(0);
			transition: transform $duration $timing;
		}

		&:hover:not(.topnav__item--noEffect) {
			&::after {
				transform: scale(1);
			}
		}

		&--noEffect {
			cursor: default;
		}

		&.active {
			border-bottom: 1px solid darkred;
		}
	}

	&__section_right {
		display: flex;
		margin-left: auto;
		margin-right: $gutter * 2;
	}

	&__coin {
		position: absolute;
		top: 0;
		right: 100%;
		pointer-events: none;
		height: 50px;
	}
}