.topnav {
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	display: flex;
	font-family: 'PokemonHollow';
	font-size: 2em;

	&__item {
		color: white;
		text-decoration: none;
		padding: $gutter/2 $gutter;
		background-color: #333;

		&:hover {
			background: #ededed;
			color: #333;
		}
	}

	&__section_right {
		display: flex;
		margin-left: auto;
	}

	&__coin {
		position: absolute;
		right: 0;
		transform: translateX(50%);
		transition: transform $duration $timing;
		pointer-events: none;

		&.active {
			position: absolute;
			right: 0;
			transform: translateX(0);
			transition: transform $duration $timing;
			pointer-events: none;

		}
	}
}