@font-face {
	font-family: 'PokemonSolid';
	src: url('../fonts/PokemonSolid.woff') format('woff'),
		url('../fonts/PokemonSolid.woff2') format('woff2'),;
}

@font-face {
	font-family: 'PokemonHollow';
	src: url('../fonts/PokemonHollow.woff') format('woff'),
		url('../fonts/PokemonHollow.woff2') format('woff2'),;
}